openapi: 3.2.0
info:
  title: Globaldatabase Com Prospecting API
  version: 0.1.0
  description: 'Operations tagged Prospecting across 2 of this provider''s published API definitions: globaldatabase-com-mcp-playground-openapi.json, globaldatabase-com-mcp-playground-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://mcp.globaldatabase.com
  description: 'Global Database MCP server host (FastAPI app serving the MCP endpoint, its OAuth 2.1 authorization server, and the browser playground). Added by API Evangelist: the original document carries no servers[] because FastAPI emits host-relative paths.'
tags:
- name: Prospecting
paths:
  /api/prospecting:
    post:
      summary: Api Prospecting
      operationId: api_prospecting_api_prospecting_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProspectingRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Prospecting
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    ProspectingRequest:
      properties:
        api_key:
          type: string
          title: Api Key
        page:
          type: integer
          title: Page
          default: 1
        per_page:
          type: integer
          title: Per Page
          default: 10
        filters:
          anyOf:
          - additionalProperties: true
            type: object
          - type: 'null'
          title: Filters
        sorting:
          anyOf:
          - items:
              additionalProperties: true
              type: object
            type: array
          - type: 'null'
          title: Sorting
      type: object
      required:
      - api_key
      title: ProspectingRequest
x-refined-from:
- globaldatabase-com-mcp-playground-openapi.json
- globaldatabase-com-mcp-playground-openapi.yml
