openapi: 3.2.0
info:
  title: Globaldatabase Com Company By Linkedin API
  version: 0.1.0
  description: 'Operations tagged Company By Linkedin across 2 of this provider''s published API definitions: globaldatabase-com-mcp-playground-openapi.json, globaldatabase-com-mcp-playground-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://mcp.globaldatabase.com
  description: 'Global Database MCP server host (FastAPI app serving the MCP endpoint, its OAuth 2.1 authorization server, and the browser playground). Added by API Evangelist: the original document carries no servers[] because FastAPI emits host-relative paths.'
tags:
- name: Company By Linkedin
paths:
  /api/company-by-linkedin:
    post:
      summary: Api Company By Linkedin
      operationId: api_company_by_linkedin_api_company_by_linkedin_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyByLinkedinRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Company By Linkedin
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    CompanyByLinkedinRequest:
      properties:
        linkedin_url:
          type: string
          title: Linkedin Url
        api_key:
          type: string
          title: Api Key
      type: object
      required:
      - linkedin_url
      - api_key
      title: CompanyByLinkedinRequest
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
x-refined-from:
- globaldatabase-com-mcp-playground-openapi.json
- globaldatabase-com-mcp-playground-openapi.yml
